# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Exclude, since it should be copied from the main project
dependencies.gradle
extern.gradle

# Exclude default output directory
Makanism

# Exclude log files
*.log
